.contact-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px;
  color: map-get($colors, secondary-dark);
  z-index: 2;

  .contact-info-title {
    color: white;
    text-align: center;
    margin-bottom: 15px;
  }

  .info .info-list .info-item .icon,
  .links .links-list .link-item {
    min-width: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }

  .info {
    .info-list {
      .info-item {
        display: flex;
        margin: 20px 0;

        .info-item-text {
          margin-left: 10px;
        }
      }
    }
  }

  .links {
    margin-top: auto;

    .links-list {
      display: flex;
      justify-content: center;

      .link-item {
        margin-right: 15px;
        transition: color 0.5s;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  @include lg-screen {
    padding: 30px;

    .info {
      .info-list {
        .info-item {
          flex-direction: column;
          align-items: center;
          text-align: center;

          .info-item-text {
            margin: 10px 0 0 0;
          }
        }
      }
    }
  }

  @include md-screen {
    padding: 50px;

    .info {
      .info-list {
        .info-item {
          flex-direction: row;
          justify-content: center;
          align-items: initial;
          text-align: initial;

          .info-item-text {
            margin: 0 0 0 15px;
          }
        }
      }
    }

    .links {
      margin-top: 50px;
    }
  }

  @include sm-screen {
    padding: 30px;

    .info .info-list .info-item .icon,
    .links .links-list .link-item {
      font-size: 25px;
    }

    .info {
      .info-list {
        .info-item {
          flex-direction: column;
          align-items: center;
          text-align: center;

          .info-item-text {
            margin: 10px 0 0 0;
          }
        }
      }
    }
  }
}
