.tags-date {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;

  .sep {
    margin: 0 10px;
    color: map-get($colors, secondary-dark);
  }

  time {
    color: map-get($colors, secondary-dark);
  }
}
