.article {
  min-height: 100vh;
  background-color: map-get($colors, secondary-light);

  .article-image-container {
    position: relative;
    height: calc(400px + #{$header-height});

    .article-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .full-screen-container {
    background-color: map-get($colors, secondary-light);

    .container {
      position: relative;
      max-width: 960px;
      width: 100%;

      .article-header {
        margin: 100px 0 30px 0;

        .article-title {
          font-size: 3.5rem;
        }
      }

      .article-content {
        .text-block {
          margin-bottom: 1.5rem;
        }
      }

      .crud-buttons-container {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  @include lg-screen {
    .full-screen-container {
      .container {
        padding: 40px 70px;
      }
    }

    @include md-screen {
      .full-screen-container {
        .container {
          padding: 40px 70px;

          .article-header {
            .article-title {
              font-size: 3rem;
            }
          }
        }
      }
    }

    @include md-screen {
      .full-screen-container {
        .container {
          padding: 15px;
          .article-header {
            margin: 50px 0;

            .tags-date {
              flex-direction: column;
              align-items: center;

              .sep {
                display: none;
              }
            }

            .article-title {
              text-align: center;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
