.container {
  .projects-page {
    min-height: calc(100vh - #{$header-height});
    padding-top: $header-height;

    .projects-page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .projects-title {
        font-size: 2.5rem;
      }
    }

    .projects-container {
      .wave-loader-container {
        background-color: transparent;
      }

      .no-projects {
        position: absolute;
        top: calc(50% + #{$header-height});
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  @include md-screen {
    .projects-page {
      .projects-page-header {
        .projects-title {
          font-size: 2rem;
        }
      }
    }
  }

  @include sm-screen {
    padding: 15px;

    .projects-page {
      .projects-page-header {
        .projects-title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
