@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.home-page .start-page .start-logo-container,
.about-page,
.projects-page,
.contacts-page,
.blog-page {
  max-width: 1200px;
  margin: 0 auto;
}

.about-page,
.projects-page,
.contacts-page,
.blog-page {
  padding: 40px;
}

.button-primary {
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
}
