.edit-post-page {
  min-height: 100vh;
  background-color: map-get($colors, secondary-light);

  .container {
    .edit-post {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
