.container {
  .projects-page {
    padding-top: $header-height;

    .projects-title {
      font-size: 2.5rem;
    }
  }
  @include md-screen {
    .projects-page {
      .projects-title {
        font-size: 2rem;
      }
    }
  }

  @include sm-screen {
    padding: 15px;

    .projects-page {
      .projects-title {
        font-size: 1.5rem;
      }
    }
  }
}
