.projects-page {
  padding: 40px;

  .projects-title {
    font-size: 2.5rem;
  }

  @include md-screen {
    .projects-title {
      font-size: 2rem;
    }
  }

  @include sm-screen {
    padding: 15px;

    .projects-title {
      font-size: 1.5rem;
    }
  }
}
