.projects-page {
  padding: 40px;

  h2 {
    font-size: 2.5rem;
  }

  @media screen and (max-width: $viewport-medium) {
    h2 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: $viewport-small) {
    padding: 15px;

    h2 {
      font-size: 1.5rem;
    }
  }
}
