.edit-project-page {
  min-height: 100vh;
  padding-top: $header-height;
  background-color: map-get($colors, secondary-light);

  .container {
    padding-top: 0;

    .edit-project {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
