.about-page {
  .title {
    font-size: 2.5rem;
  }

  .hobbies-section,
  .skills-section {
    margin-top: 40px;
  }

  .about-me-container,
  .hobbies-container,
  .skills-container {
    padding-left: 20px;

    .text-block {
      margin-bottom: 10px;
    }
  }

  .skills-container {
    .skills-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .skill-item {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 150px;
        height: 80px;
        margin: 5px;
        transition: all 0.3s;

        &:hover {
          top: -3px;
          background-color: map-get(
            $colors,
            secondary-light
          );
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .cv-link {
    display: inline-block;
    margin-top: 50px;
  }

  @include md-screen {
    .title {
      font-size: 2rem;
    }
  }

  @include sm-screen {
    .title {
      font-size: 1.5rem;
    }

    .about-me-container,
    .hobbies-container,
    .skills-container {
      padding: 0;

      .text-block {
        text-align: justify;
      }
    }

    .skills-container {
      .skills-list {
        .skill-item {
          min-width: 110px;
        }
      }
    }

    .cv-link {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
