.home-page {
  .start-page {
    height: calc(100vh - #{$header-height});
    background-image: url('../../../assets/start-logo.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .start-logo-container {
        position: relative;
        text-align: center;
        color: #cccccc;
        z-index: 1;
        animation: fadeOut 1.5s ease-out;

        .quote {
          font-size: 4rem;
          letter-spacing: 1px;
          text-shadow: 0 0 30px black;

          .author {
            font-size: 1.5rem;
            text-shadow: 0 0 10px black;
          }
        }
      }
    }
  }

  .full-screen-container {
    background: linear-gradient(
      110deg,
      map-get($colors, secondary-light) 65%,
      white 65%
    );
    .container {
      padding-right: 0;

      .hero-container {
        display: flex;
        min-height: 100vh;

        .hero {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 100%;
          padding-right: 20px;

          .text-block {
            font-size: 1.5rem;
          }

          .name {
            font-size: 3rem;
            letter-spacing: 1px;
            font-weight: 700;
          }

          .briefly-about {
            font-size: 1rem;
          }

          .button-primary {
            margin-top: 50px;
          }
        }

        .photo-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          .photo {
            max-width: 500px;
            width: 100%;
            height: auto;
            padding: 15px;
            border-radius: 50%;
            border: 20px solid white;
          }
        }
      }
    }
  }

  @include lg-screen {
    .start-page {
      .container {
        .start-logo-container {
          .quote {
            font-size: 3.5rem;
          }
        }
      }
    }

    .gradient-container {
      .container {
        padding-right: 40px;

        .hero-container {
          .hero {
            .name {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }

  @include md-screen {
    .start-page {
      .container {
        .start-logo-container {
          .quote {
            font-size: 3rem;
          }
        }
      }
    }

    .gradient-container {
      .container {
        .hero-container {
          .hero {
            .text-block {
              font-size: 1.3rem;
            }

            .name {
              font-size: 2rem;
            }
          }

          .photo-container {
            .photo {
              padding: 0;
              border-width: 5px;
            }
          }
        }
      }
    }
  }

  @include sm-screen {
    .start-page {
      .container {
        .start-logo-container {
          .quote {
            font-size: 2.5rem;
          }
        }
      }
    }

    .gradient-container {
      .container {
        padding: 30px 15px 25px;

        .hero-container {
          flex-direction: column-reverse;

          .hero {
            padding: 0;
            padding-top: 20px;

            .text-block,
            .briefly-about {
              text-align: center;
              margin: 0 auto;
            }

            button {
              margin: 50px auto 0;
            }
          }

          .photo-container {
            .photo {
              max-width: 400px;
              margin: auto;
              border-width: 15px;
            }
          }
        }
      }
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
