.home-page {
  .start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    background-image: url('../../../assets/start-logo.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    .start-logo-container {
      text-align: center;
      color: #cccccc;

      .quote {
        font-size: 4rem;
        letter-spacing: 1px;

        .author {
          font-size: 1.5rem;
        }
      }
    }
  }

  .container {
    background: linear-gradient(
      110deg,
      map-get($colors, secondary-light) 65%,
      white 65%
    );

    .intro-container {
      display: flex;
      min-height: 100vh;
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 0 40px 40px;

      .intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        padding-right: 20px;

        p {
          font-size: 1.5rem;
        }

        .name {
          font-size: 3rem;
          letter-spacing: 1px;
          font-weight: 700;
        }

        .briefly-about {
          font-size: 1rem;
        }

        .button-primary {
          margin-top: 50px;
        }
      }

      .photo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .photo {
          max-width: 500px;
          width: 100%;
          height: auto;
          padding: 15px;
          border-radius: 50%;
          border: 20px solid white;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .start-page {
      .start-logo-container {
        .quote {
          font-size: 3.5rem;
        }
      }
    }

    .container {
      .intro-container {
        padding-right: 40px;

        .intro {
          .name {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .start-page {
      .start-logo-container {
        .quote {
          font-size: 3rem;
        }
      }
    }

    .container {
      .intro-container {
        padding-right: 40px;

        .intro {
          p {
            font-size: 1.3rem;
          }

          .name {
            font-size: 2rem;
          }
        }

        .photo-container {
          .photo {
            padding: 0;
            border-width: 5px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .start-page {
      .start-logo-container {
        .quote {
          font-size: 2.5rem;
        }
      }
    }

    .container {
      .intro-container {
        flex-direction: column-reverse;

        .intro {
          padding: 0;
          padding-top: 20px;
        }

        .photo-container {
          .photo {
            max-width: 400px;
            margin: auto;
            border-width: 15px;
          }
        }
      }
    }
  }
}
