.page-not-found {
  .full-screen-container {
    background: linear-gradient(
      110deg,
      map-get($colors, secondary-light) 65%,
      white 65%
    );

    .container {
      .page-not-found-section {
        padding-top: $header-height;

        .flex-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h1 {
            font-size: 10rem;
            text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
          }

          h2 {
            margin-bottom: 20px;
          }

          .text-block {
            text-align: center;
          }

          .buttons-container {
            display: flex;

            .button-go-home,
            .button-go-back {
              margin-top: 30px;
            }

            .button-go-home {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }

  @include sm-screen {
    .full-screen-container {
      .container {
        .page-not-found-section {
          .flex-container {
            h1 {
              font-size: 9rem;
            }

            .buttons-container {
              display: flex;
              flex-direction: column;

              .button-go-home {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
