.wave-loader-container {
  position: absolute;
  left: 50%;
  top: calc(50% + #{$header-height});
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map-get($colors, secondary-light);

  .wave-loader {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    letter-spacing: 10px;

    .wave-letter {
      position: relative;
      display: inline-block;
      color: map-get($colors, primary);
      font-size: 2rem;
      text-transform: uppercase;
      animation: wave 1s ease-in-out infinite;
    }
  }

  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
    40%,
    100% {
      transform: translateY(0);
    }
  }
}
