@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*::selection {
  color: white;
  background-color: map-get($colors, primary);
}

body {
  font-family: 'Roboto', sans-serif;

  main {
    /* 70px - header, 169px - footer */
    min-height: calc(100vh - 70px - 169px);
  }
}

.home-page .start-page .start-logo-container,
.about-page,
.projects-page,
.contacts-page,
.blog-page,
.page-not-found {
  max-width: $max-container-width;
  margin: 0 auto;
}

.about-page,
.projects-page,
.contacts-page,
.blog-page,
.page-not-found {
  padding: 40px;
}

.button-primary {
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid map-get($colors, primary);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: map-get($colors, primary);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    color: map-get($colors, secondary-dark);
    background-color: transparent;
    border: 1px solid map-get($colors, secondary-dark);

    &:hover {
      color: map-get($colors, secondary-dark);
      border: 1px solid map-get($colors, secondary-dark);
      box-shadow: none;
      cursor: default;
    }
  }
}
