@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400&display=swap');

*::selection {
  color: white;
  background-color: map-get($colors, primary);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: $font-size;

  &.overflow-hidden {
    overflow: hidden;
  }

  main {
    /*  169px - footer */
    min-height: calc(100vh - 169px);
  }
}

.container {
  max-width: $max-container-width;
  margin: 0 auto;
  padding: 15px;
}

.button-primary {
  display: block;
  width: max-content;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid map-get($colors, primary);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: map-get($colors, primary);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    color: map-get($colors, secondary-dark);
    background-color: transparent;
    border: 1px solid map-get($colors, secondary-dark);

    &:hover {
      color: map-get($colors, secondary-dark);
      border: 1px solid map-get($colors, secondary-dark);
      box-shadow: none;
      cursor: default;
    }
  }
}

@include lg-screen {
  .container {
    padding: 40px;
  }
}

@include sm-screen {
  .container {
    padding: 15px;
  }
}
