$font-size: 15px;
$max-container-width: 1200px;
$viewport-small: 576px;
$viewport-medium: 768px;
$viewport-large: 992px;
$header-height: 70px;
$colors: (
  primary: black,
  secondary-light: #f5f5f7,
  secondary-dark: #86868b
);
