.project-item {
  margin: 30px 0;
  padding: 50px;
  background-color: #f5f5f7;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .flex-container {
    display: flex;

    .project-description-container {
      width: 70%;
      padding-right: 20px;

      .project-title {
        font-size: 1.75rem;
      }

      p {
        margin: 20px 0;
      }
    }

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        width: 400px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
        transition: transform 1s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .links-container {
    display: flex;

    .link {
      display: flex;
      padding: 10px 25px;
      font-weight: 700;

      .link-title:hover {
        text-decoration: underline;
      }

      &:hover {
        .link-arrow {
          transform: translateX(10px);
        }
      }

      .link-arrow {
        display: inline-block;
        width: 20px;
        margin-left: 10px;
        transition: all 0.3s;
      }
    }
  }
}
