.article {
  position: relative;
  margin-top: 40px;

  .article-container {
    position: relative;
    width: 40%;
    height: 100%;
    padding: 70px 60px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;

    .post-header {
      .tags-date {
        display: flex;
        justify-content: flex-start;
        text-transform: uppercase;

        .tags-list {
          display: flex;

          .coma {
            margin-right: 5px;
          }
        }

        .sep {
          margin: 0 10px;
        }

        time {
          color: map-get($colors, secondary-dark);
        }
      }
    }

    .post-title {
      a {
        font-size: 2rem;
        font-weight: 400;
      }
    }

    .post-content {
      margin-top: 1rem;

      .text-block {
        color: map-get($colors, secondary-dark);
      }

      .read-more {
        position: relative;
        display: inline-block;
        margin-top: 30px;
        border-bottom: 1px solid
          map-get($colors, secondary-dark);
        letter-spacing: 1px;
        transition: color 0.3s;

        &::before {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          height: 1px;
          width: 0;
          background-color: map-get($colors, primary);
          transition: width 0.3s;
        }

        &:hover {
          color: map-get($colors, secondary-dark);

          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .post-backgound-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }

  @include lg-screen {
    .article-container {
      width: 65%;
    }
  }

  @include md-screen {
    padding: 50px;

    .article-container {
      width: 100%;
    }
  }

  @include sm-screen {
    padding: 50px 10px;

    .article-container {
      padding: 50px 15px;

      .post-header {
        .tags-date {
          flex-direction: column;
          align-items: center;

          .sep {
            display: none;
          }
        }
      }

      .post-title {
        margin-top: 1rem;
        text-align: center;

        a {
          font-size: 1.5rem;
        }
      }

      .post-content {
        .read-more {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
